.food-item {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.food-item span:not(.food-icon) {
  font-size: 20px;
}

.food-item button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.food-item button:disabled {
  background-color: grey;
}

.food-item button:hover:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.food-item button:hover {
  background-color: #45a049;
}

.food-icon {
  font-size: 100px;
}
