body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: "Arial", sans-serif;
  margin-right: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio */
  gap: 30px;
  padding: 30px;
  /* height: 100vh;  Altura completa de la ventana. SI LE PONGO ESTO PERMITE SCROLLEAR Y EL CONTAINER NO SE SIGUE ALARGANDO MAS DE LO QUE OCUPA LA PANTALLA PERO QUEDA TODO TIRADO PA ABAJO */
  overflow: hidden; /* Evita el desbordamiento */
}

.total {
  margin: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
