body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio */
  gap: 30px;
  padding: 30px;
 /* height: 100vh;  Altura completa de la ventana. SI LE PONGO ESTO PERMITE SCROLLEAR Y EL CONTAINER NO SE SIGUE ALARGANDO MAS DE LO QUE OCUPA LA PANTALLA PERO QUEDA TODO TIRADO PA ABAJO */
  overflow: hidden; /* Evita el desbordamiento */
}

.food-container {
  display: flex;
  flex-wrap: wrap; /* Para que bajen a otra fila cuando no entren más */
  gap: 20px; /* Espacio entre los elementos */
  width: 700px; /* Ancho máximo para las comidas */
  height: 100%; /* Altura completa del contenedor */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Si se llena de comida permite scrollear */
}

.food-item {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.food-item span {
  font-size: 20px;
}

.food-item button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.food-item button:hover {
  background-color: #45a049;
}

.receipt-container {
  min-width: 300px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Permite scrollear si hay muchas ordenes */
}

.receipt-container h2 {
  margin-bottom: 20px;
}

.receipt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 8px;
}

.receipt-item span {
  font-size: 18px;
}

.receipt-item button {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 4px 0;
  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.order-item span {
  font-size: 1.1rem;
}

.order-item button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: red;
}

.order-item button:hover {
  transform: scale(1.2);
}



